<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SiriKat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SiriKitExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SiriKitExtensionUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7269FDD1DF4CB5F00CDCBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7269FFC1DF4CDB300CDCBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C726A0061DF4CDB300CDCBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C726A0231DF4CE5B00CDCBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C726A02D1DF4CE5B00CDCBD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
